* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #e7cfb4;
}

.bookshelf {
    box-sizing: content-box;
    width: 1000px;
    height: 500px;
    border: 40px solid #563232;
    border-radius: 30px;
}


.shelf {
    height: 250px;
    display: flex;
    gap: 6px;
}

.shelf.top-books {
    border-bottom: 15px solid #563232;
    justify-content: flex-start;
    padding-left: 15px;
    overflow: hidden;
}

.shelf.bottom-books {
    border-top: 15px solid #563232;
    justify-content: flex-end;
    padding-right: 20px;
    overflow: hidden;
}

/* Book Slant Effects */

.book {
    border: 5px solid black;
    width: 80px;
}

.shelf.top-books .book {
    transform: rotate(-10deg);
    display: inline-block;
}

.shelf.bottom-books .book {
    transform: rotate(10deg);
    display: inline-block;
}

.shelf.bottom-books .book:nth-child(odd) {
    transform: rotate(8deg);
}

.shelf.top-books .book:nth-child(odd) {
    transform: rotate(-8deg);
}


/* Book Hover Effects */

.book:hover {
    cursor: pointer;
}

.shelf.top-books .book:hover {
    transform: rotate(-10deg) scale(1.1);
}

.shelf.bottom-books .book:hover {
    transform: rotate(10deg) scale(1.1);
}

.shelf.bottom-books .book:nth-child(odd):hover {
    transform: rotate(8deg) scale(1.1);
}

.shelf.top-books .book:nth-child(odd):hover {
    transform: rotate(-8deg) scale(1.1);
}




/* Button */

#addBook {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #563232;
    border: 5px solid black;
    border-radius: 20px;
    outline: none;
    color: azure;
}

#addBook:hover {
    transform: scale(1.1);
}

#addBook:active {
    opacity: .6;
}

/* AddBook Modal */

.modal {
    border: 5px solid black;
    width: 300px;
    height: 400px;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
}

.modal > .form-header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 70px;
}

.form-header .modal-title {
    /* border: 1px solid red; */
    font-size: 30px;
    align-self: center;
}

.form-header >.closeModal {
    font-weight: bold;
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    top: 0;
    right: 0;
}

.modal > form {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 330px;
    padding: 15px;
    font-size: 16px;
    /* justify-content: center; */
}

/* .modal > form > div {
    display: flex;
} */

.form-label {
    display: inline-block;
    font-size: 17px;
}

.book-title > input,
.book-author > input {
    display: block;
    width: 100%;
    height: 20px;
    margin: 0;
    margin-bottom: 18px;
    padding-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
}
.book-pages > input {
    width: 100%;
    height: 20px;
    display: block;
    padding-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
}

.book-status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.book-status > button {
    margin: 0;
    font-size: 16px;
    align-self: center;
    border: 3px solid black;
    border-radius: 50px;
    outline: none;
}

#bookSubmit {
    margin: 0;
    width: 180px;
    height: 40px;
    font-size: 16px;
    align-self: center;
    margin-top: 40px;
    border: 3px solid black;
    border-radius: 50px;
    outline: none;
}

form button:hover {
    transform: scale(1.1);
}

form button:active {
    opacity: .7;
}

.closeModal:hover {
    transform: scale(1.1);
}

dialog::backdrop {
    background-color: grey;
    opacity: .75;
    backdrop-filter: blur(10px);
}

