* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #e7cfb4;
}

.bookshelf {
    box-sizing: content-box;
    width: 1000px;
    height: 500px;
    border: 40px solid #563232;
    border-radius: 30px;
}


.shelf {
    height: 250px;
    display: flex;
    gap: 6px;
}

.shelf.top-books {
    border-bottom: 15px solid #563232;
    justify-content: flex-start;
    padding-left: 15px;
    overflow: hidden;
}

.shelf.bottom-books {
    border-top: 15px solid #563232;
    justify-content: flex-end;
    padding-right: 20px;
    overflow: hidden;
}

/* Book Slant Effects */

.book {
    border: 5px solid black;
    width: 80px;
}

.shelf.top-books .book {
    transform: rotate(-10deg);
    display: inline-block;
}

.shelf.bottom-books .book {
    transform: rotate(10deg);
    display: inline-block;
}

.shelf.bottom-books .book:nth-child(odd) {
    transform: rotate(8deg);
}

.shelf.top-books .book:nth-child(odd) {
    transform: rotate(-8deg);
}


/* Book Hover Effects */

.book:hover {
    cursor: pointer;
}

.shelf.top-books .book:hover {
    transform: rotate(-10deg) scale(1.1);
}

.shelf.bottom-books .book:hover {
    transform: rotate(10deg) scale(1.1);
}

.shelf.bottom-books .book:nth-child(odd):hover {
    transform: rotate(8deg) scale(1.1);
}

.shelf.top-books .book:nth-child(odd):hover {
    transform: rotate(-8deg) scale(1.1);
}




/* Button */

#addBook {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #563232;
    border: 5px solid black;
    border-radius: 20px;
    outline: none;
    color: azure;
}

#addBook:hover {
    transform: scale(1.1);
}

#addBook:active {
    opacity: .6;
}